body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas: "header header"
                       "navbar content";
}
/* AQUI CONMIENZA LOS ESTILOS DEL HEADER */
.header{
  grid-area: header;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 65px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
}

.logo{
  margin-left: 25px;
  justify-self: start;
  display: flex;
  align-items: center;
}

.logo img{
  width: 55px;
  height: 55px;
}

.logo h1{
  font-size: 30px;
}

.search{
  justify-self: center;
  align-items: center;
}

.search input{
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  border: 2px solid skyblue;
}

.login{
  justify-self: end;
  align-items: center;
  display: flex;
  margin-right: 30px;
}

.login-img img{
  cursor: pointer;
  padding-left: 8px;
  width: 40px;
}

.arrow-icon img{
  cursor: pointer;
  width: 40px;
}
/* AQUI CONMIENZA LOS ESTILOS DEL NAVBAR */
.navbar{
  grid-area: navbar;
  margin-top: 65px;
  position: fixed;
  width: 80px;
  height: 100vh;
  background: #ec5353;
}

.home{
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.trending, .favorites{
  cursor: pointer;
  margin-top: 40px;
  text-align: center;
}

.home img, .trending img, .favorites img, .settings img{
  width: 30px;
  align-self: flex-end;
}

.home p, .trending p, .favorites p, .settings p{
  color: white;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 600;
}

.home a, .trending a, .favorites a, .settings a{
  text-decoration: none;
}

.settings{
  cursor: pointer;
  margin-top: 255px;
  text-align: center;
}

/* AQUI CONMIENZA LOS ESTILOS DE LA MOVIE LIST */
.movie-contegory{
  grid-area: content;
  padding: 0 40px 40px 40px;
}

.movie-section{
  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  grid-gap: 15px;
  justify-content: center;
  margin: 0;
  margin-top: 65px;
}

.movie-section-second, .movie-section-third{
  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  grid-gap: 15px;
  justify-content: center;
  margin: 0;
}

.movie-section h2, .movie-section-second h2, .movie-section-third h2{
  margin: 0;
  margin-top: 20px;
}

.movies-list{
  display: grid;
  grid-auto-columns: 350px;
  grid-auto-flow: column;
  grid-gap: 40px;
  overflow: auto;
  padding: 10px;
}

.movie-item{
  position: relative;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
  border-radius: 2px;
}

.movie-img{
  margin: 0;
}

.movie-img img{
  width: 100%;
  border-radius: 2px;
}

.movie-overlay{
  background: rgba(236, 83, 83, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  /* top: 0; */
  bottom: 0;
  color: white;
  justify-content: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.movie-overlay h4{
  margin: 0;
  padding: 10px;
}

.movie-overlay p{
  margin: 0;
  padding: 0 8px 8px 8px;
  font-size: 14px;
}
